 /* Main Body */
body{
    margin:0;
    padding: 0;
    background-color: #eeeeee;
    font-family: 'Poppins', sans-serif;
 
}

/* Page title */

h1{
    margin-top: 60px;
    margin-bottom: 24px;
    font-size: 20px;
    text-align: center;

}
/* Navigation Css */
  
.nav{
    list-style-type: none;
    background-color: white;
    width: 100%;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
    padding: 12px 0;
    position: relative;
    top: 0; 

}.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}.nav li {
    float: left;
    padding: 0 15px;
    

}.nav li a {
    display: block;
    text-align: center;
    margin-top: 30px;
    padding: 2px 14px;
    text-decoration: none;
    font-size: 13px;
    color: rgb(66, 66, 66);

}.nav li a:hover {
    transition: .5s;
    transform: scale(1.1);
    color: black;

}.nav i{
    font-size: 18px;
    margin-right: 9px;

}.nav li a span:hover{
    color: rgb(255, 0, 0);

}.no-hover{
    pointer-events: none;

}

/* sub-menu */

.submenu{
    float: right;
    background-color: #ebebeb;
    width: 24%;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
    border-bottom-left-radius: 20px;

}.submenu a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    padding: 15px 28px;
    float: right;
    
}.submenu a:hover{
    color: #0067A5;
    transition: .7s;
    /* transform: scale(1.1); */

}
