.orderform{
    background-color: #e1e1e1; 
    width: 28%;
    height: 50vh;
    padding-top: 40px;
    padding-left: 40px;
    border-radius: 10px;
    margin-left: 950px;
    margin-top: 0px;
    position: absolute;
    float: right;

}.orderform-half{
    width: 45%;
    float: left;
    padding: 20px;

}.orderform input[type=text], input[type=select]{
    width: 84%;
    padding: 10px 10px;
    margin: 10px 0;
    border:rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);

}.orderform input[type=number]{
    width: 84%;
    padding: 10px 10px;
    margin: 10px 0;
    border:rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);


}.orderform input[type=submit] {
    width: 40%;
    background-color:#046aaa;
    color: white;
    padding: 11px 20px;
    margin-top: 20px;
    margin-left: 108px;
    border: none;
    border-radius: 10px;

}.orderform input[type=submit]:hover{
    opacity: 0.8;
    
/* Order Table */

}.ordertable {
    margin-top: 0px;
    margin-left: 60px;
    border-collapse:collapse;
    width: 60%;
    font-size: 13px;
    text-align: center;
    float: left;

}.ordertable th {
    background-color: #0067A5;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    border-collapse:separate;
    padding: 14px;

}.ordertable td{
    padding: 14px;
    background-color: white;
    
}.ordertable th:first-child { 
    border-top-left-radius: 10px; 

}.ordertable th:last-child {
    border-top-right-radius: 10px;

}.ordertable tr:last-child td:first-child {
    border-bottom-left-radius: 10px; 
    
}.ordertable tr:last-child td:last-child { 
    border-bottom-right-radius: 10px; 

}.ordertable tr{
    background-color: #dcdcdc;
    border: #313436;

}.ordertable tr:hover{
    transition: .7s;

}.ordertable .editbtn{
    background-color: #cfcfcf;  
    position: relative;
    border: none;
    border-radius: 50px;
    padding: 3px 14px;
    cursor: pointer;

}.ordertable .editbtn a{
    color: #046aaa;
    text-decoration: none;
    font-weight: lighter;

}.ordertable .editbtn:hover{
    background-color: #046aaa;
    transition: .75s;

}.ordertable .editbtn:hover a{
    color: white;

}.cnfrmremve i{
    margin-left: 20px;

}

